<<<<<<< HEAD
p {
  font-family: Arial, Helvetica, sans-serif;
  margin-right: 0;
}
=======
p {
  font-family: Arial, Helvetica, sans-serif;
  margin-right: 0;
}
>>>>>>> 295e764b6e427d7724d0780a0dfd0e6d9e8ae46f
